:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f9f9f9;
  color: #213547;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}